<ion-header>
  <ion-toolbar>
    <ion-title>Notas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="note" placeholder="Digite sua nota"></ion-input>
    <ion-button (click)="addNote()">Adicionar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let note of notes">
      {{ note.conteudo }}
    </ion-item>
  </ion-list>
</ion-content>